*,
*::after,
*::before {
    /* box-sizing: border-box; */
    /* border: 1px red solid; */
    padding: 0;
    margin: 0;
    /* font-family: "Calibre",
        "Inter",
        "San Francisco",
        "SF Pro Text",
        -apple-system,
        system-ui,
        sans-serif; */
}

:root {
    --aqua: hsl(160, 100%, 75%);
    --gray: hsl(0, 0%, 20%);
    --h1: clamp(1rem, 5vw, 3rem);
}

body {
    background-color: var(--gray);
}


h1 {
    /* color: #e84444; */
    color: var(--aqua);
    font-size: var(--h1);
    font-family: japanese;
    text-align: center;
}

img {
    height: 100px;
    width: 175px;
    display: inline-block;
    vertical-align: middle;
}

.akatsuki {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}



@font-face {
    font-family: japanese;
    src:url(japanese_2020/JAPANESE_2020.ttf)
}


/* MENU */

.group:after {
    content: "";
    display: table;
    clear: both;
}

#mainnav {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .05em;
}

#mainnav #menu {
    display: none;
    padding: .8em 1.5em;
    cursor: pointer;
}


#mainnav ul {
    display: block;
    margin: 0;
    text-align: center;
}

#mainnav ul li {
    margin: 0;
    list-style: none;
    display: inline-block;
}

#mainnav ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: .9em 1.5em .8em 1.5em;
}

#mainnav ul li a:hover {
    color: #e84444;
}

.content {
    padding: 1.5em;
}

/* Tablet (Between 768px - 992px)*/
@media all and (min-width: 768px) and (max-width: 992px) {}

/* MOBILE (Smaller than 768px)*/
@media all and (max-width: 767px) {

    #mainnav #menu {
        display: block;
    }

    #mainnav ul {
        display: none;
        background: #666;
        padding: 1em;
        text-align: left;
    }

    #mainnav ul li {
        display: block;
    }

    #mainnav ul li a {
        display: block;
        padding: .75em 1.5em .5em 1.5em;
    }

}

/* MENU END */